@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
#error-pass{
  color: red;
  text-decoration-color: red
}

#error-pass1{
  color: red;
  text-decoration-color: red
}

#error-uname{
  color: red;
  text-decoration-color: red
}

#error-email{
  color: red;
  text-decoration-color: red
}

#error-phone{
  color: red;
  text-decoration-color: red
}

#error-email{
  color: red;
  text-decoration-color: red
}

#error-card{
  color: red;
  text-decoration-color: red
}

#user-table{
  position: relative;
  left: 66%;
  transform: translateX(-50%);
  top:-6%
}

#error-phone1{
  color: red;
  text-decoration-color: red
}

#sel1{
  position:relative;
  max-width:100%;
  height:44px;
  top:0px;
  left: -0%;
  border-radius:4px;
}

#recipientField{
  position:relative;
  max-width:17%;
  height:44px;
  top:35%;
  left: auto;
  border-radius:4px;

}

#btn-search{
  position:relative;
  max-width:23%;
  height:44px;
  top:-90px;
  left: 43%;
  border-radius:4px;
}

#verified{
  color: green;
}

#inProgress{
  color: red;
}

#tr-table{
  position:relative;
  top:-10%;
  left:-1%;
}

#profilePic{
  position:relative;
  left:-24.5%;
  top:-8%;
}

#round-p{
  position:absolute;
  bottom:-25px;
  right:-20px

}


.container2 {
  position: relative;
  margin: auto;
  top: -5%;
  left: 18%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.container2 .search2{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container2 .search2:hover {
  cursor: pointer;
}
.container2 .search2::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container2 .search2::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container2 input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: black;
  color: white;
  text-shadow: 0 0 10px black;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container2 input:hover {
  cursor: pointer;
}
.container2 input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container2 input:focus ~ .search2 {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container2 input:focus ~ .search2::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container2 input:focus ~ .search2::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container2 input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

#transactions-table{
  position:relative;
  top:-40px;
}

#transactions-pagination{
  position:relative;
}

#admin-users-pagination{
  position:relative;
  top:-45px;
}

#tr-search{
  position:relative;
  top:0px;

}

#transactions-pagination-admin{
  position:relative;
  top:-35px;

}

#firstName{
  position:relative;
  width:213%;
}

#edit-card-modal{
  top:-30px;
}

#col-a-tr{
  position:relative;
}

#ad-tr-search{
  position:absolute;
  left:88.5%;
  top:0;
}

#transactions-pagination-admin{
  position:relative;
  top:2px;
}

#send-money-tab{
  background-color:#2DBE60;
  color:white;
  height:15%;
  padding-top: 5%;
  padding-bottom:8%;
}

#tags1{
  position:relative;
  left:12%;
}

#setdefault-btn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#code{
  position: relative;
  width:100%;
  padding-bottom:10px;
  margin-bottom: 20px;
  border-radius:5px;
}

#error-cvs{
  color: red;
  text-decoration-color: red;
}

#error-fullName{
  color: red;
  text-decoration-color: red;
}

#fName{
  color: red;
  text-decoration-color: red;
}