@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.container1 {
    position: relative;
    margin: auto;
    top: -5%;
    left: 18%;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.container1 .search1 {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container1 .search1:hover {
    cursor: pointer;
}
.container1 .search1::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.container1 .search1::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}
.container1 input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: black;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.container1 input:hover {
    cursor: pointer;
}
.container1 input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.container1 input:focus ~ .search1 {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.container1 input:focus ~ .search1::before {
    top: 0;
    left: 0;
    width: 25px;
}
.container input:focus ~ .search1::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.container1 input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}
