<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon" />
    <title>Surplus - Money Transfer Made Easy</title>
    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"> <a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img src="/images/logo.png" alt="Payyed" /></a> </div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li th:if="!${#request.userPrincipal}" class="align-items-center h-auto ml-sm-3"><a class="btn btn-outline-primary shadow-none d-none d-sm-block" th:href="@{/login}">Sign in</a></li>
                            <li th:if="${#request.userPrincipal}" class="align-items-center h-auto ml-sm-3"><form th:action="@{/logout}" method="post"><button class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign out</button></form></li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link " href=""></a></li>
                <li class="nav-item"> <a class="nav-link" href=""></a></li>
            </ul>
        </div>
    </div>

    <!-- Page Header
    ============================================= -->
    <!-- Page Header end -->

    <!-- Content
    ============================================= -->
    <div id="content">

        <!-- Who we are
        ============================================= -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="my-auto px-0 px-lg-5 mx-2">
                            <h2 class="text-9">Who we are</h2>
                            <p class="text-4">We are one of the biggest online payment providers, striving to make thousands of customers happy everyday by providing them with instant money transfers.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 my-auto text-center"> <img class="img-fluid shadow-lg rounded-lg" src="images/who-we-are.jpg" alt=""> </div>
                </div>
            </div>
        </section>
        <!-- Who we are end -->

        <!-- Our Values
        ============================================= -->
        <section class="section bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="row">
                            <div class="col-6 col-lg-7 ml-auto mb-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="/images/our-values-vision.jpg" alt="banner"> </div>
                            <div class="col-6 col-lg-8 mt-lg-n5"> <img class="img-fluid rounded-lg shadow-lg" src="/images/our-values-mission.jpg" alt="banner"> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex order-1 order-lg-2">
                        <div class="my-auto px-0 px-lg-5">
                            <h2 class="text-9 mb-4">Our Values</h2>
                            <h4 class="text-4 font-weight-500">Our Mission</h4>
                            <p class="tex-3" >Our mission is our customers. We know how precious your time is. Our goal is to offer our clients fast and quality financial services with our responsive web design and multiple functionalities.</p>
                            <h4 class="text-4 font-weight-500 mb-2">Our Vision</h4>
                            <p class="tex-3" >We know how annoying managing you finances can be. Our vision is making this process as simple, automated and intuitive than it has ever been.</p>
                            <h4 class="text-4 font-weight-500 mb-2">Our Goal</h4>
                            <p class="tex-3" >Our goal is satisfying our customers, by offering the fastest and most secure money transfer opportunities on the web.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Values end -->

        <!-- Leadership
        ============================================= -->
        <!-- Leadership end -->

        <!-- Our Investors
        ============================================= -->
        <!-- Our Investors end -->

        <!-- Testimonial
        ============================================= -->
        <!-- Testimonial end -->

        <!-- JOIN US
        ============================================= -->
        <!-- JOIN US end -->

    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Video Modal
============================================= -->

<!-- Video Modal end -->

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>