<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon"/>
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description"
          content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <script>
        $(document).ready(function () {
            $('input[type=radio]').on('change', function () {
                $(this).closest("form").submit();
            });
        });

    </script>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"><a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img
                            src="/images/logo.png" alt="Payyed"/></a></div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                        <span></span> <span></span> <span></span></button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="align-items-center h-auto ml-sm-3">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign
                                        out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"><a class="nav-link active" th:href="@{/admin}">Manage Users</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/transactions}">Manage Transactions</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/topup-history}">Manage Top-ups</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
<!--                <aside class="col-lg-3">-->

                    <!-- Profile Details
                    =============================== -->

                    <!-- Profile Details End -->
                    <!-- Available Balance
                    =============================== -->

                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->

                    <!-- Need Help? End -->

<!--                </aside>-->
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-xl-12">

                    <h2 class="font-weight-400 mb-3">Users list</h2>

                    <!-- Filter
                    ============================================= -->
                    <div class="row">
                        <div class="col mb-2">
                            <form id="filterTransactions" th:action="@{/admin/finduser}" th:method="get">
                                <div class="form-row">
                                    <p id="senderFoundMessage">Find a user by username/phone/email</p>
                                    <br>
                                    <input class="form-control" type="text" name="user" id="senderField" placeholder="Find a user...">
                                    <br>
                                    <!-- All Filters collapse End -->
                                </div>
                                <button style="margin-top: 10px;" id="ad-tr-search" class="btn btn-outline-primary shadow-none d-none d-sm-block" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- Filter End -->

                    <!-- All Transactions
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded py-4 mb-4">
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-1 col-1 text-center">ID</div>
                                <div class="col-2 col-sm-2 text-center">Username</div>
                                <div class="col-3 col-sm-2 text-center">Full name</div>
                                <div class="col-3 col-sm-2 text-center">Email</div>
                                <div class="col-3 col-sm-3 text-center">Phone number</div>
                                <div class="col-2 col-sm-2 text-center">Action</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list" th:each="user, u: ${users}">
                            <div th:if="${user.userName != #authentication.name}" class="transaction-item px-4 py-3" data-toggle="modal"
                                 data-target="#transaction-detail">
                                <div class="row align-items-center flex-row">

                                    <div class="col-1 col-1 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${u.current.id}"></span>
                                    </div>

                                    <div class="col-2 col-sm-2 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${u.current.userName}"></span>
                                    </div>

                                    <div class="col-2 col-sm-2 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${u.current.fullName}"></span>
                                    </div>

                                    <div class="col-2 col-sm-2 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${u.current.email}"></span>
                                    </div>

                                    <div class="col-3 col-sm-3 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${u.current.phoneNumber}"></span>
                                    </div>
                                    <!--                                    <div class="col col-sm-7"><span th:if="${transaction.isVerified()}"-->
                                    <!--                                                                    class="d-block text-4">Verified</span><span-->
                                    <!--                                            th:if="not ${transaction.isVerified()}" class="d-block text-4">Unverified</span>-->
                                    <!--&lt;!&ndash;                                        <span class="text-muted">Withdraw to Bank account</span>&ndash;&gt;-->
                                    <!--                                    </div>-->
                                    <div class="col-2 col-sm-2 text-center">
                                        <form th:action="@{/admin/activate/__${u.current.userName}__}" method="post">
                                            <button th:if="${#strings.toString(u.current.state)} == 'Blocked'"
                                                    type="submit" class="btn btn-primary"><i class="fa fa-unlock"
                                                                                             aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <form th:action="@{/admin/block/__${u.current.userName}__}" method="post">
                                            <button th:if="${#strings.toString(u.current.state)} == 'Unverified'"
                                                    type="submit" class="btn btn-danger" value="Block"><i
                                                    class="fa fa-ban" aria-hidden="true"></i></button>
                                        </form>
                                        <form th:action="@{/admin/block/__${u.current.userName}__}" method="post">
                                            <button th:if="${#strings.toString(u.current.state)} == 'Active'"
                                                    type="submit" class="btn btn-danger" value="Block"><i
                                                    class="fa fa-ban" aria-hidden="true"></i></button>
                                        </form>
                                    </div>

                                    <!--                                    <div class="col-3 col-sm-2 text-right text-4">-->
                                    <!--                                        <span class="text-2 text-uppercase"-->
                                    <!--                                              th:text="'XXXX-XXXX-XXXX-' + ${topup.cardDetails.cardNumber.split('-')[3]}"></span>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <!--<div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#transaction-detail">
                  -->
                        </div>
                    </div> <!-- last added div -->
                    <!-- Transaction List End -->

                    <!-- Transaction Item Details Modal
                    =========================================== -->

                    <!-- Transaction Item Details Modal End -->

                    <!-- Pagination
  ============================================= -->
                    <ul th:if="not ${pageCount<=1}" class="pagination justify-content-center mt-4 mb-0" id="admin-users-pagination">
                        <!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i
                                 class="fas fa-angle-left"></i></a></li> -->
                        <li th:if="${pageCount!=0}" class="page-item" th:each="pageNumber: ${#numbers.sequence(1,pageCount)}">
                            <a class="page-link" th:href="@{/admin(page=${pageNumber}) }" th:text="${pageNumber}"></a>
                        </li>

                        <!-- <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                         </li> -->
                    </ul>
                    <!-- Paginations end -->

                    <!-- close div here -->
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>

    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Careers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Affiliate</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Fees</a></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                                                             target="_blank" title="Facebook"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                                                            target="_blank" title="Twitter"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                                                           target="_blank" title="Google"><i
                                class="fab fa-google"></i></a>
                        </li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/"
                                                            target="_blank" title="Youtube"><i
                                class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                        <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a
                                href="#">Payyed</a>.
                            All Rights Reserved.</p>
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
        class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';

        // Date Range Picker
        $(function () {
            var start = moment().subtract(100, 'days');
            var end = moment();

            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });



        $('#senderField').keyup(function () {

            var input = $('#senderField').val();

            $.ajax({
                url: '/api/v1/users/getUser/' + input,
                success: function (result) {
                    var name = result.userName;
                    $('#senderFoundMessage').text('User ' + name.toUpperCase() + ' found!');
                    $('#senderField').css('background-color', 'lawngreen');

                },
                error: function (jqXHR, exception) {
                    $('#senderFoundMessage').text('Find a user by username/phone/email');
                    $('#senderField').css('background-color', '#ffebcd');
                }
            });
        });

    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>