<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon"/>
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description"
          content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <script>
        $(document).ready(function () {
            $('input[type=radio]').on('change', function () {
                $(this).closest("form").submit();
            });
        });

    </script>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"><a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img
                            src="/images/logo.png" alt="Payyed"/></a></div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                        <span></span> <span></span> <span></span></button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="align-items-center h-auto ml-sm-3">  <form th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign
                                    out
                                </button>
                            </form>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" th:href="@{/admin}">Manage Users</a></li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/admin/transactions}">Manage Transactions</a></li>
                <li class="nav-item"> <a class="nav-link active" th:href="@{/admin/topup-history}">Manage Top-ups</a></li>
            </ul>
        </div>
    </div>
    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-xl-12">

                    <h2 class="font-weight-400 mb-3">User top-ups</h2>

                    <!-- Filter
                    ============================================= -->
                    <div class="row">
                        <div class="col mb-2">
                            <form id="filterTransactions" method="get" th:action="@{/admin/topup-history}">
                                <div class="form-row">
                                    <!-- Date Range
                                    ========================= -->
                                    <div class="col-sm-6 col-md-5 form-group">
                                        <input id="dateRange" name="datesRange" type="text" class="form-control"
                                               placeholder="Date Range">
                                        <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <!-- All Filters Link
                                    ========================= -->
                                    <div class="col-auto d-flex align-items-center mr-auto form-group"
                                         data-toggle="collapse"><a class="btn-link" data-toggle="collapse"
                                                                   href="#allFilters" aria-expanded="false"
                                                                   aria-controls="allFilters">All Filters<i
                                            class="fas fa-sliders-h text-3 ml-1"></i></a></div>
                                    <!-- Statements Link
                                    ========================= -->
                                    <!-- All Filters collapse
                                    ================================ -->
                                    <div class="col-12 collapse mb-3" id="allFilters">
                                        <p id="userFoundMessage">Find user by username/phone/email</p>
                                        <input id="userSearch" class="form-control" type="text" name="username">
                                        <br>
                                        Order by:
                                        <select class="form-control" id="sel1" name="orderBy">
                                            <option name="orderBy" th:value="amntAsc">Amount ascending</option>
                                            <option name="orderBy"  th:value="amntDesc">Amount descending</option>
                                            <option name="orderBy" th:value="dateAsc">Date ascending</option>
                                            <option name="orderBy" th:value="dateDesc">Date descending</option>
                                        </select>
                                    </div>
                                    <!-- All Filters collapse End -->
                                </div>
                                <button id="ad-tr-search" class="btn btn-outline-primary shadow-none d-none d-sm-block" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- Filter End -->

                    <!-- All Transactions
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded py-4 mb-4">
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-1 col-sm-1 text-center">ID</div>
                                <div class="col-2 col-sm-1 text-center">User</div>
                                <div class="col-3 col-sm-2 text-center">Date</div>
                                <div class="col-3 col-sm-2 text-center">Amount</div>
                                <div class="col-3 col-sm-2 text-center">Currency</div>
                                <div class="col-3 col-sm-2 text-center">Wallet</div>
                                <div class="col-1 col-sm-2 text-center">Card ID</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list" th:each="topup, t: ${balanceloads}">
                            <div class="transaction-item px-4 py-3" data-toggle="modal"
                                 data-target="#transaction-detail">
                                <div class="row align-items-center flex-row">

                                    <div class="col-1 col-sm-1 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${t.current.id}"></span>
                                    </div>

                                    <div class="col-2 col-sm-1 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${t.current.user.userName}"></span>
                                    </div>

                                    <div class="col-3 col-sm-2 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${#dates.format(topup.loadTime, 'dd-MMM-yyyy')}"></span>
                                    </div>
                                    <div class="col-3 col-sm-2 text-center">
                                        <span class="text-2 text-uppercase"
                                              th:text="${#numbers.formatDecimal(t.current.amount/100.0, 1, 2, 'POINT')}"></span>
                                    </div>

                                    <div class="col-3 col-sm-2 text-center text-4" >
                                        <span class="text-2 text-uppercase"
                                              th:text="${topup.currency}"></span>
                                    </div>

                                    <div class="col-3 col-sm-2 text-center text-4" >
                                        <span class="text-2 text-uppercase"
                                              th:text="${topup.wallet.name}"></span>
                                    </div>

                                    <div class="col-1 col-sm-2 text-center text-4">
                                        <span th:if="${topup.cardDetails!=null}" class="text-2 text-uppercase"
                                              th:text=" ${topup.cardDetails.id}"></span>
                                        <span th:if="${topup.cardDetails==null}" class="text-2 text-uppercase"
                                              >N/A</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Transaction List End -->

                        <!-- Transaction Item Details Modal
                        =========================================== -->
                        <!-- Transaction Item Details Modal End -->

                        <!-- Pagination
                        ============================================= -->
                        <ul th:if="not ${pageCount<=1}" class="pagination justify-content-center mt-4 mb-0" id="transactions-pagination-admin">
                            <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1,pageCount)}">
                                <a class="page-link"  th:href="@{/admin/topup-history(page=${pageNumber}, datesRange=${dateRange}, orderBy=${orderBy}) }" th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                        <!-- Paginations end -->

                    </div>
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
        class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';

        // Date Range Picker
        $(function () {
            var start = moment().subtract(100, 'days');
            var end = moment();

            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });

        $('#userSearch').keyup(function () {

            var input = $('#userSearch').val();

            $.ajax({
                url: '/api/v1/users/getUser/' + input,
                success: function (result) {
                    $('#addUser').prop('disabled', false);
                    var name = result.userName;
                    $('#userFoundMessage').text('User ' + name +  ' found!');
                    $('#userSearch').css('background-color','lawngreen');
                    document.getElementById('userFoundTick').style.display = 'block';

                },
                error: function (jqXHR, exception) {
                    $('#addUser').prop('disabled', true);
                    $('#userFoundMessage').text('Find user by username/phone/email');
                    $('#userSearch').css('background-color','#ffebcd');
                    document.getElementById('userFoundTick').style.display = 'none';
                }
            });
        });


    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>