<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon" />
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"><a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img
                            src="/images/logo.png" alt="Payyed"/></a></div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                        <span></span> <span></span> <span></span></button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="align-items-center h-auto ml-sm-3">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-primary shadow-none d-none d-sm-block">Sign out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}"></a></li>
                <li class="nav-item"><a class="nav-link " th:href="@{/payment-tools}"></a></li>
                <li class="nav-item"><a class="nav-link" href="profile-notifications.html"></a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3 mb-4">Welcome to Surplus!</h2>
            <div id="messageWrapper" style="text-align: center">
            <div id="welcomeExplanation" style="display: inline-block">
            <p th:text="${message}"></p>
            </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">

                    <!-- Request Money Success
                    ============================================= -->
                    <!-- Add New Bank Account Details Modal
                   ======================================== -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Add a new wallet</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="addbankaccount" th:object="${wallet}" method="post"
                                          th:action="@{/payment-tools/newwallet}">
                                        <div class="mb-3">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input id="personal" name="bankAccountType" class="custom-control-input"
                                                       checked="" required type="radio" th:value="PERSONAL"
                                                       th:field="${wallet.walletType}">
                                                <label class="custom-control-label" for="personal">Personal</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input id="forbusiness" name="bankAccountType" class="custom-control-input"
                                                       checked="" required type="radio" th:value="JOINT"
                                                       th:field="${wallet.walletType}">
                                                <label class="custom-control-label" for="forbusiness">Joint</label>
                                            </div>

                                        </div>
                                        <!--                                        <div class="form-group">-->
                                        <!--                                            <label for="inputCountry">Bank Country</label>-->
                                        <!--                                            <select class="custom-select" id="inputCountry" disabled name="country_id">-->
                                        <!--                                                <option value=""> -&#45;&#45; Please Select -&#45;&#45;</option>-->
                                        <!--                                                <option value="244">Aaland Islands</option>-->
                                        <!--                                                <option value="1">Afghanistan</option>-->
                                        <!--                                                <option value="239">Zimbabwe</option>-->
                                        <!--                                            </select>-->
                                        <!--                                        </div>-->
                                        <div class="form-group">
                                            <label for="accountName">Wallet Name</label>
                                            <input type="text" class="form-control" data-bv-field="accountName"
                                                   id="accountName" required value="" placeholder="Something cool come to midn?"
                                                   th:field="${wallet.name}">
                                        </div>
                                        <div class="form-group">
                                            <label for="bankName">Currency</label>
                                            <select class="custom-select" id="bankName" name="bankName"
                                                    th:field="${wallet.currencyCode}">
                                                <option value=""> Please Select</option>
                                                <option value="BGN">BGN</option>
                                                <option value="EUR">EUR</option>
                                                <option value="USD">USD</option>
                                            </select>
                                        </div>

                                        <!--                                        <div class="form-group">-->
                                        <!--                                            <label for="accountNumber">Account Number</label>-->
                                        <!--                                            <input type="text" class="form-control" data-bv-field="accountNumber"-->
                                        <!--                                                   id="accountNumber" required value=""-->
                                        <!--                                                   placeholder="e.g. 12346678900001">-->
                                        <!--                                        </div>-->
                                        <!--                                        <div class="form-group">-->
                                        <!--                                            <label for="ifscCode">NEFT IFSC Code</label>-->
                                        <!--                                            <input type="text" class="form-control" data-bv-field="ifscCode"-->
                                        <!--                                                   id="ifscCode" required value="" placeholder="e.g. ABCDE12345">-->
                                        <!--                                        </div>-->
                                        <div class="form-check custom-control custom-checkbox mb-3">
                                            <input id="remember-me" name="remember" class="custom-control-input"
                                                   type="checkbox" required>
                                            <label class="custom-control-label" for="remember-me" >I agree to the terms
                                                and conditions</label>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Create wallet
                                        </button>
                                    </form>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
                    <!-- Request Money Success end -->
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>