<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description"
          content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"><a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img
                            src="/images/logo.png" alt="Payyed"/></a></div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                        <span></span> <span></span> <span></span></button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="align-items-center h-auto ml-sm-3">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign
                                        out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Account</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/payment-tools}">Cards & Wallets</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img th:if="${user.image==null}"  class="rounded-circle"  src="images/profile-thumb.jpg" alt="">
                            <img th:if="${user.image!=null}"  class="rounded-circle" id="profilePic"  th:src="@{'data:image/png;base64,'+${user.image}}" alt="">
                        </div>
                        <p th:text="'Hello, ' + ${user.getUserName()}" class="text-3 font-weight-500 mb-2"></p>
                        <p class="mb-2"><a th:href="@{/profile}" class="text-5 text-light" data-toggle="tooltip"
                                           title="Edit Profile"><i class="fas fa-edit"></i></a></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 th:if="${user.defaultWallet} != null" class="text-9 font-weight-400"
                            th:text="${#numbers.formatDecimal(user.getDefaultWallet().currentAmount, 1, 2)} + '(' + ${user.getDefaultWallet().getCurrencyCode()} + ')'"></h3>
                        <h3 th:if="${user.defaultWallet} == null" class="text-9 font-weight-400">0,00</h3>
                        <p class="mb-2 text-muted opacity-8">Default Wallet's Balance</p>
                        <hr class="mx-n3">
                        <div class="d-flex"><a th:href="@{/transactions/new}" class="btn-link mr-auto">Send</a> <a
                                th:href="@{/payment-tools}" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->


                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Credit or Debit Cards
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-4">Your cards <span class="text-muted text-4"></span>
                        </h3>
                        <div class="row">
                            <div style="margin-bottom: 5px" th:each="showcard, i : ${cards}"
                                 class="col-12 col-sm-6 col-lg-4">
                                <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                                    <p style="display: none" id="cardid" th:text="${showcard.id}"></p>
                                    <p id="cardnum"   th:text="'XXXX-XXXX-XXXX-' + ${showcard.cardNumber.split('-')[3]}" class="text-4"></p>
                                    <p class="d-flex align-items-center"> <span
                                            class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Valid<br>
                    thru<br>
                    </span> <span id="cardExpirity" th:text="${showcard.expirationDate}"
                                  class="text-4 opacity-9">07/24</span>
                                        <span class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 ml-auto">Primary</span>
                                    </p>
                                    <p id="cardHoldersName" th:text="${showcard.cardHolderName}"
                                       class="d-flex align-items-center m-0"><span
                                            class="text-uppercase font-weight-500">Smith Rhodes</span> <img
                                            class="ml-auto" src="images/payment/visa.png" alt="visa" title=""></p>

                                    <div class="account-card-overlay rounded">
                                        <a th:href="@{/payment-tools/card-update/__${i.current.id}__}"
                                                class="text-light btn-link mx-2"><span
                                                class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                                            <button th:onclick="'deleteCard(\''+ ${i.current.id} +'\');'"
                                                    id="delete-btn"
                                                    class="text-light btn-link mx-2"><span
                                                    class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete
                                            </button>
                                    </div>
                                </div>
                            </div>
                            <!--                                        </div>-->
                            <div class="col-12 col-sm-6 col-lg-4"><a href="" data-target="#add-new-card-details"
                                                                     data-toggle="modal"
                                                                     class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                <p class="w-100 text-center line-height-4 m-0"><span class="text-3"><i
                                        class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add a New Card</span>
                                </p>
                            </a></div>
                        </div>
                    </div>
                    <!-- Edit Card Details Modal
                    ================================== -->
                    <!-- Add New Card Details Modal
                    ================================== -->
                    <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Add a Card</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="addCard" name="addCard" method="post"
                                          th:action="@{/payment-tools/newcard}" th:object="${card}"
                                          onsubmit="return validateCreditCard();">
                                        <div class="form-group">
                                            <label for="cardNumber">Card Number</label><span id="error-card"><br></span>
                                            <input type="text" class="form-control" data-bv-field="cardnumber"
                                                   id="cardNumber" name="cardNumber" required value="" minLength="19"
                                                   maxlength="19" pattern="^([\d]{4}-){3}[\d]{4}$"
                                                   placeholder="The 16-digit number"
                                                   th:field="${card.cardNumber}">
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="expiryDate">Expiry Date</label>
                                                    <input id="expiryDate" type="text" class="form-control"
                                                           data-bv-field="expiryDate" pattern="(?:0[1-9]|1[0-2])\/[0-9]{2}" required value=""
                                                           placeholder="MM/YY" th:field="${card.expirationDate}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="cvvNumber">CVV <span class="text-info ml-1"
                                                                                     data-toggle="tooltip"
                                                                                     data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i
                                                            class="fas fa-question-circle"></i></span></label>
                                                    <input id="cvvNumber" type="password" class="form-control"
                                                           data-bv-field="cvvnumber" required value="" minlength="3"
                                                           maxlength="3" pattern="^\d{3}$"
                                                           placeholder="CVV (3 digits)" th:field="${card.CVS}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardHolderName">Card Holder Name</label>
                                            <input type="text" class="form-control" data-bv-field="cardholdername"
                                                   id="cardHolderName"
                                                   pattern="^([\w]{3,})+\s+([\w\s]{3,})+$"
                                                   required value="" placeholder="Card Holder Name"
                                                   th:field="${card.cardHolderName}">
                                        </div>
                                        <input id="add-card-btn" class="btn btn-primary btn-block" type="submit"
                                               value="Add Card"/>
                                    </form>
                                </div>
                            </div>
                            h
                        </div>
                    </div>
                    <!-- Credit or Debit Cards End -->

                    <!-- Wallets
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-4">Your wallets <span class="text-muted text-4"></span>
                        </h3>
                        <div style="margin-bottom: 5px" class="row">
                            <div th:id="'wallet' + ${w.current.id}" th:each="wallet, w : ${wallets}"
                                 class="col-12 col-sm-6">
                                <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                                    <div style="margin-bottom:5px;" class="row no-gutters">
                                        <div class="col-3 d-flex justify-content-center p-3">
                                            <div class="my-auto text-center text-13"><i
                                                    th:if="${w.current.id != user.getDefaultWallet().id}"
                                                    class="fas fa-wallet"></i>
                                                <i th:if="${w.current.id == user.getDefaultWallet().id}"
                                                   class="fas fa-bookmark"></i>
                                                <p th:text="${wallet.walletType}"
                                                   class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0">
                                                    Primary</p>
                                            </div>
                                        </div>
                                        <div class="col-9 border-left">
                                            <div class="py-4 my-2 pl-4">
                                                <p class="text-4 font-weight-500 mb-1"
                                                   th:id="walletName + ${w.current.id}" th:text="${wallet.name}">Wallet
                                                    name</p>
                                                <p th:text="${#numbers.formatDecimal(wallet.currentAmount, 1, 2)}"
                                                   class="text-4 opacity-9 mb-1">
                                                    Amount in wallet</p>
                                                <p th:text="${wallet.currencyCode}"
                                                   th:id="walletCurrency + ${w.current.id}" class="m-0">Approved <span
                                                        class="text-3"><i
                                                        class="fas fa-check-circle"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-card-overlay rounded"><a href="#"
                                                                                 th:data-target="'#walletForm' + ${w.current.id}"
                                                                                 data-toggle="modal"
                                                                                 class="text-light btn-link mx-2"><span
                                            class="mr-1"><i class="fas fa-share"></i></span>Add money</a> <a
                                            th:href="@{/payment-tools/manage/__${w.current.id}__}"
                                            th:if="${w.current.creator.userName == user.userName && w.current.walletType == T(com.ilievmegraby.vwallet.models.enums.WalletType).JOINT}"
                                            class="text-light btn-link mx-2"><span
                                            class="mr-1"><button th:onclick="'manageWallet(\''+ ${w.current.id} +'\');'"

                                                                 class="fas fa-users-cog"></button></span>Manage</a>
                                        <form th:if="${w.current.id != user.getDefaultWallet().id}" th:action="@{/payment-tools/setdefault/}" method="post">
                                            <input name="walletId" th:value="${w.current.id}" hidden="hidden">
                                        <button id="setdefault-btn" type="submit"
                                           class="text-light btn-link mx-2"><span class="fas fa-bookmark">
                                                </span>Set Default</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6"><a href="" data-target="#add-new-bank-account"
                                                            data-toggle="modal"
                                                            class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                <p class="w-100 text-center line-height-4 m-0"><span class="text-3"><i
                                        class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add a New Wallet</span>
                                </p>
                            </a></div>
                        </div>
                    </div>
                    <!-- Add money to wallets
                    ======================================== -->
                    <div th:each="walletI, i: ${wallets}" th:id="'walletForm' + ${i.current.id}"
                         id="bank-account-details" class="modal fade modal-full" role="dialog" aria-hidden="true">
                        <h5 class="modal-title font-weight-400" th:id="'senderMessage' + ${i.current.id}"
                            th:text="'Add money to wallet ' + ${i.current.name}"></h5>
                        <div class="modal-dialog modal-dialog-centered transaction-details" role="document"
                             style="width: 100%">
                            <div class="modal-content" style="text-align: center" >
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p th:if="${cards.isEmpty()}">You need to add a card to your account to be able to
                                    charge your wallets!</p>
                                <div th:if="${cards.size()>0}" class="innerFormDiv">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <form class="walletFunding" th:if="${!cards.isEmpty()}"
                                          th:id="'fundWalletForm' + ${i.current.id}" name="fundWallet"
                                          th:onsubmit="'setWallet(\''+ ${i.current.id} +'\');'" method="post"
                                          th:action="@{/payment-tools/topup}" th:object="${balanceload}">
                                        <input type="text" th:id="walletTopUpId + ${i.current.id}"
                                               th:field="${balanceload.walletId}" hidden>
                                        <input type="text" name="userId" th:value="${user.id}" hidden="hidden">
                                        <div class="form-group">
                                            <label>Choose a card:</label>
                                            <select class="form-control" name="cardChosen"
                                                    th:field="${balanceload.cardId}">
                                                <option th:id="${cardIndex}" th:each="cardOption, cardIndex  : ${cards}"
                                                        th:text="'XXXX-XXXX-XXXX-' + ${cardIndex.current.cardNumber.split('-')[3]}"
                                                        th:value="${cardOption.id}"></option>
                                            </select>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-lg-12">
                                                <div class="form-control">
                                                    <label for="expiryDate"
                                                           th:text="'Amount in ' + ${walletI.currencyCode}"></label>
                                                    <input id="topupamount" type="text" class="form-control"
                                                           data-bv-field="expiryDate" required value=""
                                                           placeholder="Add a valid number here, e.g. 130.50" name="amount"
                                                           pattern="^[0-9]+\.?[0-9]*$"
                                                           th:field="${balanceload.amount}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-12">
                                                <div class="form-control">
                                                    <label for="expiryDate">Description</label>
                                                    <textarea id="topudescription" type="text" class="form-control"
                                                           data-bv-field="expiryDate" value=""
                                                           placeholder="Add a description here"
                                                              th:field="${balanceload.description}" minlength="5"></textarea>
                                                    <span th:text="${wallet.currencyCode}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <button th:id="'realSumbitButton' + ${i.current.id}" style="display: none"
                                                class="btn btn-primary btn-block" type="submit">Confirm
                                        </button>
                                        <button th:id="'editButton' + ${i.current.id}" style="display: none"
                                                class="btn btn-primary btn-block" type="button"
                                                onclick="unlockToUpForm(this.form)">Edit
                                        </button>
                                        <button th:id="'mockSend' + ${i.current.id}" class="btn btn-primary btn-block"
                                                type="button" onclick="lockToUpForm(this.form)">Send
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add New Bank Account Details Modal
                    ======================================== -->
                    <div id="add-new-bank-account" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Add a new wallet</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="addbankaccount" th:object="${wallet}" method="post"
                                          th:action="@{/payment-tools/newwallet}">
                                        <div class="mb-3">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input id="personal" name="bankAccountType" class="custom-control-input"
                                                       checked="" required type="radio" th:value="PERSONAL"
                                                       th:field="${wallet.walletType}">
                                                <label class="custom-control-label" for="personal">Personal</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input id="forbusiness" name="bankAccountType"
                                                       class="custom-control-input"
                                                       checked="" required type="radio" th:value="JOINT"
                                                       th:field="${wallet.walletType}">
                                                <label class="custom-control-label" for="forbusiness">Joint</label>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="accountName">Wallet Name</label>
                                            <input type="text" class="form-control" data-bv-field="accountName"
                                                   id="accountName" required value="" placeholder="e.g. Smith Rhodes"
                                                   th:field="${wallet.name}">
                                        </div>
                                        <div class="form-group">
                                            <label for="bankName">Currency</label>
                                            <select class="custom-select" id="bankName" name="bankName"
                                                    th:field="${wallet.currencyCode}">
                                                <option value=""> Please Select</option>
                                                <option value="BGN">BGN</option>
                                                <option value="EUR">EUR</option>
                                                <option value="USD">USD</option>
                                            </select>
                                        </div>

                                        <div class="form-check custom-control custom-checkbox mb-3">
                                            <input id="remember-me" name="remember" class="custom-control-input"
                                                   type="checkbox" required>
                                            <label class="custom-control-label" for="remember-me">I agree to the terms
                                                and conditions</label>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Create wallet
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bank Accounts End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->
    <!-- Confirmation modal starts-->
    <div id="top-up-confirm" class="modal" data-backdrop="static" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title  text-center"> Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center" id="topUpMessage">Are you sure you want to delete this record?</p>
                        <form action="delete.php" method="post">

                            <div class="text-center">
                                <button type="submit" class=" btn btn-primary "> Okay</button>
                                <button type="button" class=" btn btn-primary " data-dismiss="modal"> Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirmation modal ends-->
    <!-- Footer
    ============================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg d-lg-flex align-items-center">
                    <ul class="nav justify-content-center justify-content-lg-start text-3">
                        <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                    </ul>
                </div>
                <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                    <ul class="social-icons justify-content-center">
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                <div class="row">
                    <div class="col-lg">
                    </div>
                    <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function (chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });


        $("#delete-btn").on("click", function (e) {

            $.ajax({
                url: './getMyData.php',
                method: 'POST',
                data: {id: id},
                success: function (result) {
                    var jsondata = $.parseJSON(result);
                    $("#name").val(jsondata.name);
                    $("#uid").val(jsondata.id)
                    $("#data").val(jsondata.date)
                }
            });

            $('#updateForm').submit(function () {
                alert($(this).serialize());
                return false;
            });

        });

        // auto-insert dashesh on card number entering
        $('#cardNumber').keyup(function () {
            var cc = $(this).val().split("-").join("");
            if (cc.length > 0) {
                cc = cc.match(new RegExp('.{1,4}', 'g')).join("-");
            }
            $(this).val(cc);

            if (this.value.length > 19) {
                this.value = this.value.substr(0, 19);
            }
        });

        // insert forward slash between expiration date
        $('#expiryDate').keyup(function () {
            var date = $(this).val().split("/").join("");
            if (date.length > 0) {
                date = date.match(new RegExp('.{1,2}', 'g')).join("/");
            }
            $(this).val(date);

            if (this.value.length > 5) {
                this.value = this.value.substr(0, 5);
            }
        });

        $('#cvvNumber').keyup(function () {
            if (this.value.length > 3) {
                this.value = this.value.substr(0, 3);
            }
        });

        document.getElementsByClassName('walletFunding').addEventListener('submit', function() {
            document.getElementsByClassName('walletFunding').reportValidity();
        }, false);

    })

</script>
<script src="/js/theme.js"></script>
</body>
</html>