<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon"/>
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description"
          content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <script>

        $(document).ready(function () {

            $(document).on('click', '.accept', function (e) {
                $(".modal-fade").modal("hide");
                $(".modal-backdrop").remove();
                $('body').removeClass('modal-open');

            })
    </script>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"><a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img
                            src="/images/logo.png" alt="Payyed"/></a></div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                        <span></span> <span></span> <span></span></button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="align-items-center h-auto ml-sm-3">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-primary shadow-none d-none d-sm-block">Sign out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Secondary menu-->

    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"><a class="nav-link " th:href="@{/profile}"></a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/payment-tools}"></a></li>
                <li class="nav-item"><a class="nav-link" href="profile-notifications.html"></a></li>
            </ul>
        </div>
    </div>

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img th:if="${user.image==null}"  class="rounded-circle"  src="/images/profile-thumb.jpg" alt="">
                            <img th:if="${user.image!=null}"  class="rounded-circle" id="profilePic"  th:src="@{'data:image/png;base64,'+${user.image}}" alt="">
                        </div>
                        <p th:text="'Hello, ' + ${user.getUserName()}" class="text-3 font-weight-500 mb-2"></p>
                        <p class="mb-2"><a th:href="@{/profile}" class="text-5 text-light" data-toggle="tooltip"
                                           title="Edit Profile"><i class="fas fa-edit"></i></a></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 th:if="${user.defaultWallet} != null" class="text-9 font-weight-400"
                            th:text="${#numbers.formatDecimal(user.getDefaultWallet().currentAmount, 1, 2)} + '(' + ${user.getDefaultWallet().getCurrencyCode()} + ')'"></h3>
                        <h3 th:if="${user.defaultWallet} == null" class="text-9 font-weight-400">0,00</h3>
                        <p class="mb-2 text-muted opacity-8">Default Wallet's Balance</p>
                        <hr class="mx-n3">
                        <div class="d-flex"><a th:href="@{/transactions/new}" class="btn-link mr-auto">Send</a> <a
                                th:href="@{/payment-tools}" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->

                    <!--          &lt;!&ndash; Need Help?-->
                    <!--          =============================== &ndash;&gt;-->
                    <!--          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">-->
                    <!--            <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>-->
                    <!--            <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>-->
                    <!--            <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>-->
                    <!--              Our experts are here to help!.</p>-->
                    <!--            <a href="#" class="btn btn-primary btn-block">Chate with Us</a> </div>-->
                    <!--          &lt;!&ndash; Need Help? End &ndash;&gt;-->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <h2 class="font-weight-400 mb-3">Find a user</h2>

                    <!-- Filter
                    ============================================= -->
                    <div class="row">
                        <div class="col mb-2">
                            <form th:action="@{/transactions/new}" th:method="get" id="bar-search">
                                <p id="userFoundMessage">Find user by username/phone/email</p>
                                <img style="display: none" id="userFoundTick" src="/images/green-tick.png" alt="">
                                <input id="userSearch" class="form-control" type="text" name="username"><br>
                              <!--  <button class="btn btn-outline-primary shadow-none d-none d-sm-block" type="submit">
                                    Search
                                </button> -->
                            </form>
                        </div>
                    </div>
                    <!-- Filter End -->

                    <!-- All Transactions
                    ============================================= -->
                    <!-- <div class="bg-light shadow-sm rounded py-4 mb-4" style="width: 100%">
                         <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3"></h3>
                         <div class="container2">
                             <form th:action="@{/admin/finduser}" th:method="get" id="bar-search" name="bar-search">
                                 <input type="text" name="user" placeholder="Enter username/email/phone number">
                                 <div class="search2">
                                 </div>
                             </form>
                         </div> -->

                    <!-- Transaction List
                    =============================== -->
                    <div class="transaction-list">
                        <div th:if="${user.id != user12.id && user.defaultWallet!=null && user12.defaultWallet!=null}"   th:each="user12, i : ${users}" th:id="${i.current.id}"
                             th:onclick="'setRecipient(\''+ ${i.current.id} +'\');'" class="transaction-item px-4 py-3"
                             data-toggle="modal" th:data-target="'#myForm' + ${i.current.id}">
                            <div class="row align-items-center flex-row">
                                <!--<div class="col-2 col-sm-1 text-center"><span th:text="${i.count}"
                                                                              class="d-block text-4 font-weight-300">16</span>
                                </div> -->
                                <div class="col col-sm-7"><img th:if="${i.current.image==null}" class="rounded-circle"
                                                               alt="Smiley face"
                                                               src="/images/icon-user-default.png"
                                                               width="80" height="80">
                                    <img th:if="${i.current.image!=null}" class="rounded-circle" alt="Smiley face"
                                         th:src="@{'data:image/png;base64,'+${user12.image}}" width="80" height="80">
                                </div>
                                <!--                  <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <span class="text-warning" data-toggle="tooltip" data-original-title="In Progress"><i class="fas fa-ellipsis-h"></i></span> </div>-->
                                <div class="col-3 col-sm-2 text-right text-4"><span th:text="${user12.userName}"
                                                                                    class="text-nowrap"></span> <span
                                        class="text-2 text-uppercase"></span></div>
                            </div>
                        </div>
                    </div>
                    <!-- Transaction List End -->
                    <!-- Confirmation screen starts -->

<!--                    <div th:each="userObj, u :${users}" th:id="'confirmBox' + ${u.current.id}" class="modal modal-full"-->
<!--                         data-backdrop="true" role="dialog" aria-hidden="true">-->
<!--                        <button type="button" class="close" data-dismiss="modal">Close</button>-->
<!--                        <h5 class="modal-title font-weight-400" th:text="'Please confirm the transaction'">-->
<!--                            New Transaction</h5>-->
<!--                        <div class="innerFormDiv" style="width: 100%">-->
<!--                            <form th:id="confirmForm + ${u.current.id}" th:object="${transaction}"-->
<!--                                  th:action="@{/transactions/new}" method="post">-->
<!--                                <input style="display: none" th:id="'senderId' + ${user.id}" th:value="${user.id}"-->
<!--                                       name="senderId"/>-->
<!--                                <input type="hidden" th:id="'recipientId' + ${u.current.id}"-->
<!--                                       th:field="${transaction.recipientId}" th:value="${userObj.id}"-->
<!--                                       name="recipientId"/>-->

<!--                                <div class="form-group">-->
<!--                                    <label for="bankName">Select Wallet</label>-->
<!--                                    <select class="custom-select" id="bankName-confirm" name="walletId"-->
<!--                                            th:field="${transaction.walletId}">-->
<!--                                        <option th:text="${user.getDefaultWallet().name} + '(default)'"-->
<!--                                                th:value="${user.getDefaultWallet().id}"></option>-->
<!--                                        <option th:each="wallet : ${user.getWallets()}"-->
<!--                                                th:value="${wallet.id}"-->
<!--                                                th:text="${wallet.name}"-->
<!--                                                th:selected="${transaction.walletId == wallet.id}"-->
<!--                                                th:id="selectWallet + ${wallet.id}"-->

<!--                                        ></option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-12">-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="emailID">Enter Amount<span-->
<!--                                                    class="text-muted font-weight-500"></span><span-->
<!--                                                    id="error-email-confirm"><br></span></label>-->
<!--                                            <input type="text" th:value="${transaction.amount}" class="form-control"-->
<!--                                                   data-bv-field="emailid" id="emailID-confirm" required-->
<!--                                                   placeholder="Email ID" th:field="${transaction.amount}"-->
<!--                                                   name="amount">-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="emailID">Add a description<span-->
<!--                                                    class="text-muted font-weight-500"></span><span-->
<!--                                                    id="error-description-confirm"><br></span></label>-->
<!--                                            <textarea type="text" th:value="${transaction.amount}" class="form-control"-->
<!--                                                      data-bv-field="emailid" id="description-confirm" required-->
<!--                                                      placeholder="Splitting a bill? Or maybe a birthday gift? Tell them what's the money for." th:field="${transaction.description}"-->
<!--                                                      name="description"></textarea>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                                &lt;!&ndash;                                            <div class="form-check custom-control custom-checkbox mb-3">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <input id="remember-me" name="remember" class="custom-control-input"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                       type="checkbox" required>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                <label class="custom-control-label" for="remember-me" >I agree to the terms&ndash;&gt;-->
<!--                                &lt;!&ndash;                                                    and conditions</label>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <form th:action="@{/transactions/new}" method="post">&ndash;&gt;-->
<!--                                <button class="btn btn-primary btn-block" type="submit">Submit-->
<!--                                </button>-->
<!--                                &lt;!&ndash;                                            </form>&ndash;&gt;-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->



                    <!-- Confirmation screen ends -->
                    <!-- Transaction Item Details Modal
                    =========================================== -->
                    <div th:each="userObj, u :${users}" th:id="'myForm' + ${u.current.id}" class="modal modal-full"
                         data-backdrop="true" role="dialog" aria-hidden="true">
<!--                        <div class="modal-contentmodal modal-full" role="dialog">-->

                        <!--<h5 class="modal-title font-weight-400" th:id="'senderMessage' + ${u.current.id}" th:text="'Send money to ' + ${u.current.userName}">
                            New Transaction</h5> -->
                        <h5 th:id="'formReview' + ${u.current.id}"></h5>
                            <div class="innerFormDiv" style="width: 100%">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <form name="crForm" th:id="transactionForm + ${u.current.id}" th:object="${transaction}"
                                      th:action="@{/transactions/new}" method="post" >
                                    <input style="display: none" th:id="'senderId' + ${u.current.id}" th:value="${user.id}"
                                           name="senderId"/>
                                    <input type="hidden" th:id="'recipientId' + ${u.current.id}"
                                           th:field="${transaction.recipientId}" th:value="${userObj.id}"
                                           name="recipientId"/>
                                    <img src="/images/currency-icon.png" th:id="'warning' + ${u.current.id}" style="display: none">
                                    <p th:id="'showExRate' + ${u.current.id}"></p>
                                    <div class="form-group">
                                        <label for="bankName">Select Wallet</label>
                                        <select th:id="'selectWallet' + ${u.current.id}" class="custom-select" id="bankName" name="walletId"
                                                th:field="${transaction.walletId}">
                                            <option th:text="${user.getDefaultWallet().name} + ' (default, ' + ${#numbers.formatDecimal(user.getDefaultWallet().currentAmount, 1, 2)} + ' ' + ${user.getDefaultWallet().getCurrencyCode()} + ')'"
                                                    th:value="${user.getDefaultWallet().id}"></option>
                                            <option th:each="wallet : ${user.getWallets()}"
                                                    th:value="${wallet.id}"
                                                    th:text= "${wallet.name} + ' (' +  ${#numbers.formatDecimal(wallet.currentAmount, 1, 2)} + ' ' + ${wallet.getCurrencyCode()} + ')'"
                                                    th:selected="${transaction.walletId == wallet.id}"

                                            ></option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="emailID">Enter Amount<span
                                                        class="text-muted font-weight-500"></span><span
                                                        id="error-email"><br></span></label><span class="error-amount" id="error-amount"></span>
                                                <input type="text" th:id="'amount' + ${u.current.id}" th:value="${transaction.amount}" class="form-control"
                                                       data-bv-field="emailid" id="emailID" required
                                                       pattern="^[1-9]\d*$" placeholder="Amount" th:field="${transaction.amount}"
                                                       name="amount">
                                            </div>
                                            <div class="form-group">
                                                <label for="emailID">Add a description<span
                                                        class="text-muted font-weight-500"></span><span
                                                        id="error-description"><br></span></label>
                                                <textarea type="text" class="form-control"
                                                          data-bv-field="emailid" id="description" required
                                                          placeholder="Splitting a bill? Or maybe a birthday gift? Tell them what's the money for." th:field="${transaction.description}"
                                                          name="description"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <!--                                            <div class="form-check custom-control custom-checkbox mb-3">-->
                                    <!--                                                <input id="remember-me" name="remember" class="custom-control-input"-->
                                    <!--                                                       type="checkbox" required>-->
                                    <!--                                                <label class="custom-control-label" for="remember-me" >I agree to the terms-->
                                    <!--                                                    and conditions</label>-->
                                    <!--                                            </div>-->
                                    <!--

                                                                <form th:action="@{/transactions/new}" method="post">-->
                                    <button th:id="'realSumbitButton' + ${u.current.id}" style="display: none" class="btn btn-primary btn-block" type="submit" >Confirm
                                    </button>
                                    <button th:id="'editButton' + ${u.current.id}"style="display: none"  class="btn btn-primary btn-block" type="button" onclick="unlockForm(this.form)">Edit
                                    </button>
                                    <button th:id = "'mockSend' + ${u.current.id}" class="btn btn-primary btn-block" type="button" onclick="lockForm(this.form)">Send
                                    </button>
                                    <!--                                            </form>-->
                                </form>
                            </div>
<!--                        </div>-->
                    </div>
                    <!-- Transaction Item Details Modal End -->

                    <!-- Pagination
                    ============================================= -->
                    <ul th:if="not ${pageCount<=1}" class="pagination justify-content-center mt-4 mb-0" id="transactions-pagination-admin">
                        <!-- <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i
                                 class="fas fa-angle-left"></i></a></li> -->
                        <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1,pageCount)}">
                            <a class="page-link"  th:href="@{/transactions/new(page=${pageNumber}) }" th:text="${pageNumber}"></a>
                        </li>

                        <!-- <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                         </li> -->
                    </ul>
                    <!-- Paginations end -->

                </div>
                <!-- All Transactions End -->
            </div>
            <!-- Middle End -->
        </div>
    </div>
</div>
<!-- Content end -->

<!-- Footer
============================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg d-lg-flex align-items-center">
                <ul class="nav justify-content-center justify-content-lg-start text-3">
                    <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                </ul>
            </div>
            <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                <ul class="social-icons justify-content-center">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                    <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
            <div class="row">
                <div class="col-lg">
                </div>
                <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!--</div>-->
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';

        // Date Range Picker
        $(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });

        $('#transaction-detail').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)// Button that triggered the modal
            var objectName = button.data('user12.') // Extract info from data-object-name attribute

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-body p').text('Do you want to delete ' + objectName + '?')
        })

        $('#userSearch').keyup(function () {

            var input = $('#userSearch').val();

            $.ajax({
                url: '/api/v1/users/getUser/' + input,
                success: function (result) {
                    $('#addUser').prop('disabled', false);
                    var name = result.userName;
                    $('#userFoundMessage').text('User ' + name.toUpperCase() + ' found!');
                    $('#userSearch').css('background-color', 'lawngreen');
                    $('#userSearch').val(name);
                    // document.getElementById('userFoundTick').style.display = 'block';

                },
                error: function (jqXHR, exception) {
                    $('#addUser').prop('disabled', true);
                    $('#userFoundMessage').text('Find user by username/phone/email');
                    $('#userSearch').css('background-color', '#ffebcd');
                    // document.getElementById('userFoundTick').style.display = 'none';
                }
            });
        });


    });
</script>
<script src="/js/theme.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>