<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />
<title>Surplus - Money Transfer and Online Payments HTML Template</title>
<meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          <!-- Logo
          ============================= -->
          <div class="logo"> <a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img src="/images/logo.png" alt="Payyed" /></a> </div>
          <!-- Logo end --> 
          <!-- Collapse Button
          ============================== -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
          <!-- Collapse Button end --> 
          
          <!-- Primary Navigation
          ============================== -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li><a th:href="@{/transactions/new}">Send</a></li>
                <li><a th:href="@{/transactions}">Transactions</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                <li><a th:href="@{/about}">About</a></li>
              </ul>
            </div>
          </nav>
          <!-- Primary Navigation end --> 
        </div>
        <div class="header-column justify-content-end"> 
          <!-- Login & Signup Link
          ============================== -->
          <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="align-items-center h-auto ml-sm-3"><form th:action="@{/logout}" method="post"><button class="btn btn-outline-primary shadow-none d-none d-sm-block" href="">Sign out</button></form></li>
            </ul>
          </nav>
          <!-- Login & Signup Link end --> 
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <div class="bg-primary">
    <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav">
        <li class="nav-item"> <a class="nav-link " href=""></a></li>
        <li class="nav-item"> <a class="nav-link" href=""></a></li>
        <li class="nav-item"> <a class="nav-link" href=""></a></li>
      </ul>
    </div>
  </div>
  
  <!-- Content
  ============================================= -->
<!--  <div id="content" class="py-4">-->
<!--    <div class="container">-->
<!--      <h2 class="font-weight-400 text-center mt-3 mb-4">Send Money</h2>-->
<!--      <div class="row">-->
<!--        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">-->
          <!-- Send Money Success
          ============================================= -->
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="edit-card-modal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title font-weight-400">Update Card</h5>
                <button type="button" onclick="goToCards()" class="close font-weight-400" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <form id="go-back" th:action="@{/payment-tools}">
                </form>
              </div>
              <div class="modal-body p-4">
                <form id="updateCard" name="updateCard" method="post" th:object="${card}"
                      th:action="@{/payment-tools/card-update}" onsubmit="return verifyFullName();">
                  <div class="form-group">
                    <label for="edircardNumber">Card Number</label>
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text"><img
                              class="ml-auto" src="/images/payment/visa.png" alt="visa"
                              title=""></span></div>
                      <input type="text" class="form-control" data-bv-field="edircardNumber"
                             id="edircardNumber"
                             th:placeholder="${card.cardNumber}" th:value="${card.cardHolderName}" th:field="${card.cardNumber}" readonly>
                      <input id="editCardId" type="text"  th:field="${card.id}" th:value="${card.id}"  hidden>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="editexpiryDate">Expiry Date</label>
                        <input id="editexpiryDate" type="text" class="form-control"
                               data-bv-field="editexpiryDate" pattern="[1-9]{2}/[1-9]{2}" required value="07/24"
                               placeholder="MM/YY" th:field="${card.expirationDate}" th:value="${card.expirationDate}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="editcvvNumber">CVV <span class="text-info ml-1"
                                                             data-toggle="tooltip"
                                                             data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i
                                class="fas fa-question-circle"></i></span></label><span id="error-cvs" name="error-cvs"></span>
                        <input id="editcvvNumber" name="editcvvNumber"type="password" class="form-control"
                               data-bv-field="editcvvNumber" required value="321"
                               placeholder="CVV (3 digits)" th:value="${card.CVS}" th:field="${card.CVS}">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editcardHolderName">Card Holder Name</label><span class="error-fullname" id="error-fullname"><br></span>
                    <input type="text" class="form-control" data-bv-field="editcardHolderName"
                           id="editcardHolderName" name="editcardHolderName"  required value="Smith Rhodes"
                           placeholder="Card Holder Name" th:value="${card.cardHolderName}" th:field="${card.cardHolderName}">
                  </div>
                  <button id="update-btn" class="btn btn-primary btn-block" type="submit">Update
                    Card
                  </button>
                </form>
              </div>
            </div>
          </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg d-lg-flex align-items-center">
          <ul class="nav justify-content-center justify-content-lg-start text-3">
            <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
          </ul>
        </div>
        <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
          <ul class="social-icons justify-content-center">
            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
            <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright pt-3 pt-lg-2 mt-2">
        <div class="row">
          <div class="col-lg">
          </div>
          <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
            <ul class="nav justify-content-center">
              <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
<script>
  $(function () {
    $('#editcvvNumber').keyup(function () {
      if (this.value.length > 3) {
        this.value = this.value.substr(0, 3);
      }
    });

    $('#editexpiryDate').keyup(function () {
      var date = $(this).val().split("/").join("");
      if (date.length > 0) {
        date = date.match(new RegExp('.{1,2}', 'g')).join("/");
      }
      $(this).val(date);

      if (this.value.length > 5) {
        this.value = this.value.substr(0, 5);
      }
    });

    $('#editexpiryDate').rules("add", {pattern: "^(0[1-9]|1[0-2])\\/?([0-9]{4}|[0-9]{2})$"});
  })
</script>
</body>
</html>