<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="images/favicon.png" rel="icon" />
    <title>Surplus - Money Transfer and Online Payments HTML Template</title>
    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header" class="bg-transparent header-text-light">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"> <a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img src="/images/logo-light.png" alt="Payyed" /></a> </div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/transactions/new}">Send</a></li>
                                <li><a th:href="@{/transactions}">Transactions</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a></li>
                                <li><a th:href="@{/about}">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li th:if="!${#request.userPrincipal}"><a th:href="@{/login}">Sign In</a> </li>
                            <li th:if="!${#request.userPrincipal}" class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" th:href="@{/registration}">Sign Up</a></li>
                            <li th:if="${#request.userPrincipal}"><a href="#refer-modal" data-toggle="modal" >Refer</a> </li>
                            <li th:if="${#request.userPrincipal}" class="align-items-center h-auto ml-sm-3"><form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-primary d-none d-sm-block" >Sign Out</button></form></li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- refer modal start-->
    <div id="refer-modal" class="modal fade " role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Refer</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                    <form id="emailAddress-form" name="emailAddress-form" th:action="@{/profile/refer}" method="post" onsubmit=" return verifyEmail();">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="emailID"> Enter Email Address <span class="text-muted font-weight-500"></span><span id="error-email"></span></label>
                                    <input type="text" name="email" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Email ID" >
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Submit Referral">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Content
    ============================================= -->
    <div id="content">

        <!-- Send/Request Money
        ============================================= -->
        <section class="hero-wrap section shadow-md pb-4">
            <div class="hero-mask opacity-7 bg-dark"></div>
            <div class="hero-bg" style="background-image:url('images/bg/image-5.jpg');"></div>
            <div class="hero-content py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-7 my-auto text-center text-lg-left pb-4 pb-lg-0">
                            <h2 class="text-14 font-weight-400 text-white mb-4">The Secure,<br class="d-none d-xl-block">
                                easiest and fastest <br class="d-none d-xl-block">
                                way to transfer money.</h2>
                            <p class="text-4 text-white mb-4">Receive & Send money to your loved ones in seconds with up-to-date exchange rates and no
                                transaction fees.</p>
                            <a href="#scroll-d1" class="btn-link text-4">See more details<i class="fas fa-chevron-right text-2 ml-2"></i></a> </div>
                       <div class="col-lg-6 col-xl-5 my-auto">
                            <ul class="nav nav-tabs nav-justified bg-white style-5 rounded-top" id="myTab" role="tablist">
                                <li class="nav-item active"> <a class="nav-link active" id="send-money-tab" data-toggle="tab" href="#send-money" role="tab" aria-controls="send-money" aria-selected="true">Send Money</a> </li>
                            </ul>
                            <div class="tab-content p-4 bg-white rounded-bottom" id="myTabContent">
                                <div class="tab-pane fade show active" id="send-money" role="tabpanel" aria-labelledby="send-money-tab">
                                    <form id="form-send-money" method="post" onchange="returnExchangeRate(document.getElementById('youSendCurrency').value, document.getElementById('recipientCurrency').value, document.getElementById('youSend').value )">
                                        <div class="form-group">
                                            <label for="youSend">You Send</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                                <input type="text" pattern="[1-9.]{1,}" class="form-control" data-bv-field="youSend" id="youSend" th:value="1" placeholder="" onkeyup="returnExchangeRate(document.getElementById('youSendCurrency').value, document.getElementById('recipientCurrency').value, document.getElementById('youSend').value)">
                                                <div class="input-group-append"> <span class="input-group-text p-0">
                        <select id="youSendCurrency" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                          <optgroup label="Supported Currencies">
                              <option data-icon="currency-flag currency-flag-bgn mr-1" data-subtext="Bulgarian lev" value="BGN">BGN</option>
                          <option data-icon="currency-flag currency-flag-usd mr-1" data-subtext="United States dollar" selected="selected" value="USD">USD</option>
                           <option data-icon="currency-flag currency-flag-eur mr-1" data-subtext="Euro" value="EUR">EUR</option>
                          </optgroup>
                        </select>
                        </span> </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipientGets">Recipient Gets</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                                <input type="text" class="form-control" data-bv-field="recipientGets" id="recipientGets" readonly value="" placeholder="">
                                                <div class="input-group-append"> <span class="input-group-text p-0">
                        <select id="recipientCurrency" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                          <optgroup label="Popular Currency">
                           <option data-icon="currency-flag currency-flag-bgn mr-1" data-subtext="Bulgarian lev" value="BGN">BGN</option>
                          <option data-icon="currency-flag currency-flag-usd mr-1" data-subtext="United States dollar" selected="selected" value="USD">USD</option>
                           <option data-icon="currency-flag currency-flag-eur mr-1" data-subtext="Euro" value="EUR">EUR</option>
                          </optgroup>
                        </select>
                        </span> </div>
                                            </div>
                                        </div>
                                        <p class="text-muted mb-1"><span class="font-weight-500">*Zero fees on transactions made.</span></p>
                                    </form>
                                </div>
<!--                                <div class="tab-pane fade" id="request-money" role="tabpanel" aria-labelledby="request-money-tab">-->

<!--                          </optgroup>-->
<!--                        </select>-->
<!--                        </span> </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <button class="btn btn-primary btn-block mt-4">Continue</button>-->
<!--                                    </form>-->
<!--                                </div>-->
                                <div th:if="!${#request.userPrincipal}" class="text-center mt-2"><a th:href="@{/login}" class="btn btn-primary">Send Money Now</a></div>
                                <div th:if="${#request.userPrincipal}" class="text-center mt-2"><a th:href="@{/transactions/new}" class="btn btn-primary">Send Money Now</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Send/Request Money End -->

        <!-- Why choose us
        ============================================= -->
        <section class="section bg-white" id="scroll-d1">
            <div class="container">
                <h2 class="text-9 text-center text-uppercase font-weight-400">Why choose us?</h2>
                <p class="text-4 text-center font-weight-300 mb-5">Here's Top 4 reasons why to use a Surplus account for managing your money.</p>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                <div class="featured-box style-3">
                                    <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-hand-pointer"></i> </div>
                                    <h3 class="font-weight-400">Easy to use</h3>
                                    <p>Our intuitive web app will guide you through your journey.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <div class="featured-box style-3">
                                    <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-share"></i> </div>
                                    <h3 class="font-weight-400">Instant Transfers</h3>
                                    <p>You don't believe us? Go ahead and check yourself.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-4 mb-sm-0">
                                <div class="featured-box style-3">
                                    <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-dollar-sign"></i> </div>
                                    <h3 class="font-weight-400">Zero Fees</h3>
                                    <p>You read this right. Transactions between wallets happens without any fees whatsoever.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="featured-box style-3">
                                    <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-lock"></i> </div>
                                    <h3 class="font-weight-400">100% secure</h3>
                                    <p>The Surplus application works with the best web security practices under the hood.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why choose us End -->

        <!-- How it works
        ============================================= -->
        <section class="section">
            <div class="container">
                <h2 class="text-9 text-center text-uppercase font-weight-400">As simple as 1-2-3</h2>
                <p class="text-4 text-center font-weight-300 mb-5">Start out in a blink of an eye.</p>
                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">1</span></div>
                            <h3 class="mb-3">Sign Up Your Account</h3>
                            <p class="text-3 font-weight-300">Sign up for your free personal account in a minute.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">2</span></div>
                            <h3 class="mb-3">Create & Load Your Wallet</h3>
                            <p class="text-3 font-weight-300">Set up your wallet, load it and start making transactions.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4 mb-sm-0">
                        <div class="featured-box style-4">
                            <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">3</span></div>
                            <h3 class="mb-3">Send Money</h3>
                            <p class="text-3 font-weight-300">Complete a transaction in a matter of a few clicks.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2"><a th:href="@{/registration}" class="btn btn-primary">Open a Free Account</a></div>
            </div>
        </section>
        <!-- How it works End -->

        <!-- What can you do
        ============================================= -->
        <section class="section bg-white">
            <div class="container">
                <h2 class="text-9 text-center text-uppercase font-weight-400">What can you do?</h2>
                <p class="text-4 text-center font-weight-300 mb-5">Only a glimpse of our functionalities below.</p>
                <div class="row" id="tags1">
                    <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary "> <i class="fas fa-share-square"></i> </div>
                            <h3>Send Money</h3>
                        </div>
                    </a> </div>
                    <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-check-square"></i> </div>
                            <h3>Receive Money</h3>
                        </div>
                    </a> </div>
                    <div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-user-friends"></i> </div>
                            <h3>Refer a Friend</h3>
                        </div>
                    </a> </div>
                    <!--<div class="col-sm-6 col-lg-3 mb-4"> <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-shopping-bag"></i> </div>
                            <h3>Online Shopping</h3>
                        </div>
                    </a> </div> -->
                </div>
            </div>
        </section>
        <!-- What can you do End -->

        <!-- Testimonial
        ============================================= -->
      <!--  <section class="hero-wrap section shadow-md">
            <div class="hero-mask opacity-3 bg-dark"></div>
            <div class="hero-bg hero-bg-scrll" style="background-image:url('images/bg/image-4.jpg');"></div>
            <div class="hero-content py-0 py-lg-5 my-0 my-lg-5">
                <div class="container text-center">
                    <h2 class="text-9 text-white font-weight-400 text-uppercase mb-5">What our customers say</h2>
                    <a class="video-btn d-flex" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"> <span class="btn-video-play bg-white shadow-md rounded-circle m-auto"><i class="fas fa-play"></i></span> </a> </div>
            </div>
        </section>
        Testimonial end -->

        <!-- Mobile App
        ============================================= -->
        <!--<section class="section pt-5 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-9 col-xl-8 mx-auto">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-center align-bottom order-1 order-sm-0"> <img class="img-fluid" alt="" src="images/app-mobile.png"> </div>
                            <div class="col-sm-7 col-md-7 my-auto order-0 order-sm-1 text-center text-sm-left">
                                <h2 class="text-8 font-weight-400 text-uppercase mb-3">Get the app</h2>
                                <p class="text-4">Download our app for the fastest, most convenient way to send & get Payment.</p>
                                <div class="pt-2 mb-4 mb-sm-0"> <a class="mr-3" href=""><img class="img-fluid" alt="" src="images/app-store.png"></a><a href=""><img class="img-fluid" alt="" src="images/google-play-store.png"></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        Mobile App end
    </div>
     Content end -->

    <!-- Footer
    ============================================= -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg d-lg-flex align-items-center">
                        <ul class="nav justify-content-center justify-content-lg-start text-3">
                            <li class="nav-item"><p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Surplus</a>. All Rights Reserved.</p></li>
                        </ul>
                    </div>
                    <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                        <ul class="social-icons justify-content-center">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                            <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                    <div class="row">
                        <div class="col-lg">
                        </div>
                        <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                            <ul class="nav justify-content-center">
                                <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Video Modal
============================================= -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-transparent border-0">
            <button type="button" class="close text-white opacity-10 ml-auto mr-n3 font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal end -->

<!-- Script -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="js/theme.js"></script>
</div>
</body>
</html>