<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />
<title>Surplus - Money Transfer and Online Payments HTML Template</title>
<meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
</head>
<body>
<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<div id="main-wrapper" class="h-100">
  <div class="container-fluid px-0 h-100">
    <div class="row no-gutters h-100">
      <div class="col-md-6">
        <!-- Get Verified! Text
        ============================================= -->
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./images/bg/image-3.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row  no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" th:href="@{/}" title="Payyed - HTML Template"><img src="images/logo-light.png" alt="Payyed"></a> </div>
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Get Verified!</h1>
                <p class="text-4 text-white line-height-4 mb-5">Every day, Surplus makes thousands of customers happy.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Get Verified! Text End -->
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <!-- SignUp Form
        ============================================= -->
        <div class="container my-4">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-400 mb-4">Sign Up</h3>
              <form id="sign-upForm" name="sign-upForm" th:action="@{/registration}" th:object="${userDTO}" method="post" onsubmit="return pass();">
                <div class="form-group">
                  <label >Full Name</label><span id="error-fullName"></span>
                  <input type="text" class="form-control" id="fullName" name = "fullName" required placeholder="Enter Full Name" th:field = "${userDTO.fullName}">
                </div>
                <div class="form-group">
                  <label >Username</label> <span class="error-uname" id="error-uname"><br></span>
                  <input type="text" class="form-control" id="username" name ="username" placeholder="Enter Username" th:field = "${userDTO.userName}" required>
                </div>
                <div class="form-group">
                  <label for="emailAddress">Email Address</label><span class="error-email" id="error-email"><br></span>
                  <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Enter Your Email" th:field = "${userDTO.email}" required>
                </div>
                <div class="form-group">
                  <label >Phone Number</label><span class="error-phone" id="error-phone"><br></span>
                  <input type="text" class="form-control" id="phoneNumber" name = "phoneNumber" placeholder="Enter Phone Number" th:field = "${userDTO.phoneNumber}" required>
                </div>
                <div class="form-group">
                <label for="loginPassword">Password</label> <span id="error-pass"><br></span>
                <input type="password" class="form-control" id="loginPassword" name = "password" required placeholder="Enter Password" th:field = "${userDTO.password}">
               </div>
                <div class="form-group">
                  <label for="loginPassword">Confirm Password</label> <span class="error-msg-sp" id="error-pass1"></span>
                  <input type="password" class="form-control" id="confirmPassword" name ="confirmPassword" required placeholder="Enter Confirmation Password">
                </div>
                <input class="btn btn-primary btn-block my-4" type="submit" value="Sign Up" />
              </form>
              <p class="text-3 text-center text-muted">Already have an account? <a class="btn-link" th:href="@{/login}">Sign In</a></p>
            </div>
          </div>
        </div>
        <!-- SignUp Form End -->
      </div>
    </div>
  </div>
</div>

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script src="js/theme.js"></script>
</body>
</html>